# project specific ignores
*.DS_Store
/notes

## ignore prof dirs
/prof/

## ignore package output
/package/

## ignore compiled solutions
solutions/*/*
!solutions/*/**/
!solutions/*/*.*

# Haskell general ignores

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
